###  1.	Read the csv in a data_frame.

In [1]:
import pandas as pd
import numpy as np
import re
book=pd.read_csv("Book.csv")

In [2]:
book.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

### 2.	Remove the following columns from the data_frame

In [3]:
remove=['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 
        'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks']

book.drop(remove,axis=1, inplace=True)

In [4]:
book.columns

Index(['Identifier', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Flickr URL'],
      dtype='object')

In [5]:
book.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [6]:
book.dtypes

Identifier               int64
Place of Publication    object
Date of Publication     object
Publisher               object
Title                   object
Author                  object
Flickr URL              object
dtype: object

### 3.	Check the content of the column- 'Date of Publication’ and define a function to clean the value

In [7]:
import re
def dop_clean(date):
    cleaned_date = re.search(r'\d{4}', str(date))
    if cleaned_date:
        return cleaned_date.group()
    return None

book['Date of Publication'] = book['Date of Publication'].apply(dop_clean)

In [8]:
book['Date of Publication'].unique()

array(['1879', '1868', '1869', '1851', '1857', '1875', '1872', None,
       '1676', '1679', '1802', '1859', '1888', '1839', '1897', '1865',
       '1860', '1873', '1866', '1899', '1814', '1820', '1800', '1847',
       '1893', '1805', '1837', '1896', '1898', '1892', '1894', '1885',
       '1846', '1817', '1816', '1833', '1804', '1777', '1799', '1827',
       '1853', '1874', '1790', '1883', '1795', '1877', '1886', '1834',
       '1852', '1828', '1876', '1758', '1880', '1823', '1887', '1825',
       '1850', '1810', '1889', '1861', '1858', '1878', '1821', '1891',
       '1808', '1849', '1724', '1772', '1812', '1835', '1867', '1830',
       '1841', '1884', '1863', '1848', '1845', '1807', '1864', '1822',
       '1871', '1829', '1824', '1856', '1803', '1818', '1881', '1838',
       '1720', '1855', '1747', '1748', '1704', '1762', '1694', '1890',
       '1895', '1870', '1809', '1760', '1862', '1844', '1813', '1787',
       '1794', '1710', '1785', '1801', '1882', '1840', '1819', '1651',
       '1842', '1744', '1728', '1806', '1831', '1779', '1836', '1756',
       '1843', '1792', '1854', '1731', '1770', '1734', '1775', '1826',
       '1640', '1687', '1778', '1695', '1749', '1782', '1690', '1696',
       '1768', '1716', '1774', '1811', '1796', '1798', '1773', '1788',
       '1607', '1657', '1635', '1815', '1759', '1683', '1709', '1733',
       '1832', '1784', '1625', '1639', '1737', '1718', '1671', '1684',
       '1662', '1765', '1705', '1781', '1693', '1701', '1776', '1675',
       '1767', '1654', '1780', '1766', '1732', '1786', '1703', '1791',
       '1661', '1678', '1751', '1764', '1677', '1739', '1769', '1735',
       '1757', '1691', '1717', '1753', '1746', '1685', '1670', '1761',
       '1570', '1721', '1540', '1633', '1752', '1699', '1648', '1719',
       '1656', '1793', '1673', '1915', '1631', '1725', '1797', '1698',
       '1647', '1663', '1692', '1783', '1713', '1689', '1736', '1700',
       '1789', '1729', '1743', '1658', '1632', '1602', '1641', '1742',
       '1653', '1763', '1686', '1771', '1730', '1707', '1660', '1674',
       '1911', '1754', '1738', '1510', '1722', '1740', '1664', '1638',
       '1682', '1667', '1900', '1750', '1681', '1755', '1688', '1741',
       '1672', '1628', '1680', '1702', '1637', '1592', '1697', '1708'],
      dtype=object)

### 4.	Check the content of the column- ' Author’ and define a function to clean the value. And split the name to first name and last name.

In [9]:
def author_clean(author):
    cleaned_author = re.sub(r'\[.*\]', '', str(author)).strip()
    author_parts = re.split(r'[;,]', cleaned_author)
    
    if len(author_parts) >= 2:
        first_name = author_parts[1].strip()
        last_name = author_parts[0].strip()
    else:
        first_name = author_parts[0].strip()
        last_name = ''
    
    return pd.Series([first_name, last_name])

book[['First Name', 'Last Name']] = book.apply(lambda row: author_clean(row['Author']), axis=1)
book.drop(columns=['Author'], inplace=True)

### 5.	Check the content of the column- ‘Title’ and define a function to clean the value

In [10]:
def title_clean(title):
    cleaned_title = title.split('[')[0].strip()
    return cleaned_title

book['Title'] = book['Title'].apply(title_clean)

### 6.	Check the content of the column- ‘Place of Publication’ and define a function to clean the value

In [11]:
def pop_clean(place):
    # Remove additional details after the semicolon
    cleaned_place = place.split(';')[0].strip()
    return cleaned_place

book['Place of Publication'] = book['Place of Publication'].apply(pop_clean)